body {
    background-color: rgb(54, 13, 177);
    color: bisque;
    

  font-family: "Savate", sans-serif;
  margin: 10px;
}

h1 {
    font-size: 30px;
}
p {
    font-size: 20px;
}

section {
    background-color: rgb(125, 172, 248);
    padding-bottom: 80px;
    padding-top: 60px;
}
